@import "variables";

// header
.blogHeader {
  height: 60vh;
  background-image: url(../assets/blog-image-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.blogHeader h1 {
  position: absolute;
  margin: 0;
  bottom: 0.5rem;
}

// main
.blogMain {
  padding-top: 5rem;
  background-color: $whiteShade;
}

.blogFlex {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

aside, 
.blogFlex section,
article {
  background-color: white;
}

aside {
  padding: 2rem;
  margin-bottom: 1rem;
}

aside ul {
  list-style: disc inside;
}

aside img {
  width: 100%;
}

.asideFlex {
  width: calc(30% - 1rem);
}

.articleFlex {
  width: calc(70% - 1rem);
}

article {
  border-bottom: solid $greenGrey 0.25rem;
  margin-bottom: 2rem;
  padding: 2rem;
}

article p {
  margin-bottom: 1rem;
}

// this hopefully future-proofs the comments section to take on more comments
.articleFlex section:not(:last-child) {
  margin-bottom: 1rem;
}

.articleFlex section:last-child {
  border-bottom: solid $greenGrey 0.25rem;
  margin-bottom: 1.5rem;
}

.comments p {
  padding: 0;
}

.comments section {
  padding: 2rem;
  display: flex;
}

.comments img{
  align-self: flex-start;
  margin-right: 1rem;
}

// comment form
.articleFlex form {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}

.articleFlex input,
.articleFlex textarea {
  margin-bottom: 1rem;
}

.formFlex {
  display: flex;
  justify-content: space-between;
}

.formFlex input {
  width: 49%;
}