@import 'variables';

// header
.contactHeader {
  height: 60vh;
  background-image: url(../assets/contact-image-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.contactHeader h1 {
  position: absolute;
  margin: 0;
  bottom: 0.75rem;
}

// main
.contactMain {
  background: $whiteShade;
}

.contactFlex {
  display: flex;
  padding-top: 5rem;
  padding-bottom: 6rem;
}

.contactInfo {
  width: 30%;
  // background: white;
  // padding: 2.5rem 2rem;
  // height: 60%;
}

.contactInfo ul {
  background: white;
  padding: 2.5rem 2rem;
}

.contactInfo i {
  color: $pine;
  margin-right: 2rem;
  font-size: 1.5rem;
}

.contactInfo li:nth-child(2) {
  font-weight: bold;
  padding: 1.2rem 0;
}

.contactForm {
  margin-left: 2rem;
  width: calc(70% - 2rem);
  display: flex;
  flex-direction: column;
}

.contactForm > * {
  padding-bottom: 1rem;
}

.formFlex {
  display: flex;
  justify-content: space-between;
}

.formFlex input {
  width: 49%;
}

.contactText textarea {
  width: 100%;
  height: 100%;
}

.contactSubmit {
  padding-bottom: 0;
}

.contactSubmit input {
  width: 100%;
  height: 100%;
}

// media queries
@media (max-width: 1149px) {
  .contactHeader h1 {
    font-size: 6rem;
    bottom: 0rem;
  }
}

@media (max-width: 900px) {
  .contactFlex {
    flex-direction: column;
  }

  .contactInfo,
  .contactForm {
    width: 100%;
  }

  .contactInfo {
    margin-bottom: 1rem;
  }

  .contactForm {
    margin: 0;
  }
}

@media (max-width: 863px) {
  .contactHeader h1 {
    font-size: 4rem;
    bottom: -0.75rem;
  }
}

@media (max-width: 560px) {
  .formFlex {
    flex-direction: column;
  }

  .formFlex input {
    width: 100%;
  }

  .formFlex input[type=text] {
    margin-bottom: 1rem;
  }
}

@media (max-width: 423px) {
  .contactHeader h1 {
    font-size: 3rem;
    bottom: -1.1rem;
  }
}