@import 'variables';

// header styling
.contactHeader {
  background-image: url(../assets/contact-image-1.jpg);
}

.contactHeader h1 {
  position: absolute;
  margin: 0;
  bottom: 0.75rem;
}

// main styling
.contactMain {
  background: $whiteShade;
}

.contactFlex {
  display: flex;
  padding-top: 5rem;
  padding-bottom: 6rem;
}

// contact info styling
.contactInfo {
  width: 30%;
}

.contactInfo ul {
  background: $white;
  padding: 2.5rem 2rem;
}

.contactInfo a {
  color: $pine;
  font-size: 1.5rem;
  margin-right: 2rem;
}

.fa-instagram {
  margin: 0
}

.contactInfo li:nth-child(2) {
  font-weight: bold;
  padding: 1.2rem 0;
}

// contact form styling
.contactForm {
  margin-left: 2rem;
  width: calc(70% - 2rem);
  display: flex;
  flex-direction: column;
}

.contactForm > * {
  padding-bottom: 1rem;
}

.contactText textarea,
button {
  width: 100%;
  height: 100%;
}

button {
  padding-bottom: 0;
}