@import "variables";

nav {
  background-color: $pine;
}

.homeHeader {
  height: 80vh;
  background-color: $pine;
}

nav {
  padding-bottom: 1rem;
}

.desktopMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

nav li {
  padding-left: 2.25rem;
  padding-top: 1.25rem;
}

// home header
.homeFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}

.homeFlex h1 {
  padding-right: 1.25rem;
  position: relative;
}

.homeFlex h1::before {
  background: url(../assets/circle-text.png) no-repeat;
  content : '';
  display: block;
  position: absolute;
  top: -4rem;
  left: -3rem;
  height: 500px;
  width: 500px; 
}

header img {
  box-shadow: 1rem 1rem $whiteShade;
}

// nav icon
.navIcon, 
.mobileMenu, 
nav input {
  display: none;
}

.mobileMenu li {
  padding: 1rem 0;
}

.navIcon i {
  font-size: 2rem;
  z-index: 10;
}

// nav media queries
@media (max-width: 563px) {
  .desktopMenu {
    display: none;
  }

  .mobileMenu {
    display: inline-block;
    position: fixed;
    z-index: 10;
    width: 50%;
    right: -50%;
    top: 0;
    background: rgba(0, 0, 0, 0.541);
    text-align: center;
    height: 15rem;
    transition: all 0.3s;
  }

  .mobileMenu a {
    display: inline-block;
    // -webkit-text-stroke: 0.1rem $black;
  }

  .navIcon {
    display: block;
    width: 100%;
    text-align: end;
    padding-top: 1.25rem;
  }

  .navIcon i {
    position: fixed;
    -webkit-text-stroke: 0.05rem $black;
  }

  // input for the menu
  input[type=checkbox]:checked + .mobileMenu {
    right: 5rem;
  }
}

@media (max-width: 320px) {
  .navIcon {
    padding-right: 1rem;
  }
}