@import 'partials/setup';
@import 'partials/typography';
@import 'partials/nav';
@import 'partials/variables';
@import 'partials/footer';
@import 'partials/contact';
@import 'partials/forms';
@import 'partials/blog';
@import 'partials/home';
@import 'partials/mediaQueries';

// wrapper
.wrapper {
  margin: 0 auto;
  width: 80%;
}

// misc. header stylings

// prevents overflow on home page
header {
  max-width: 100%;
}

// combing blog and contact general header styling
.blogHeader,
.contactHeader {
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

// about page styling
.about h1 {
  color: $black;
  line-height: 8rem;
}