// blog page styling
@import 'partials/blog';
// contact page styling
@import 'partials/contact';
// juno/hackeryou copyright styling
@import 'partials/footer';
// general forms styling
@import 'partials/forms';
// home page/index.html styling
@import 'partials/home';
// navigation styling
@import 'partials/nav';
// setup snippet
@import 'partials/setup';
// general typography styling
@import 'partials/typography';
// color variables
@import 'partials/variables';

// media queries and sliding burger nav
@import 'partials/mediaQueries';

// wrapper
.wrapper {
  margin: 0 auto;
  width: 80%;
}

// prevents overflow on home page
header {
  max-width: 100%;
}

// combing blog and contact general header styling
.blogHeader,
.contactHeader {
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

// about page styling
.about h1 {
  color: $black;
  line-height: 8rem;
}

// accessibility feature allowing a user to skip to main content through tabbing
.skip {
  position: absolute;
  left: -1000rem;
  top: 5rem;
  z-index: 999;
  background: $accent;
  color: $black;
}

.skip:focus {
  left: 5rem;
}