html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #1f1f1f;
  line-height: 1.6rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

h1 {
  font-size: 8rem;
  line-height: 4.55rem;
}

h2 {
  font-size: 2.1rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.2rem;
}

h1,
nav {
  color: #f6f6f6;
  font-weight: bold;
}

h2,
h3 {
  margin-top: 0;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.05rem;
}

h1,
h2,
h3,
h4,
section a,
.title {
  font-family: 'Abril Fatface', sans-serif;
}

h1,
h2,
h3,
h4,
nav {
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: inherit;
}

section a {
  background-color: #e4a436;
  padding: 0.8rem 1.25rem;
}

.currentPage {
  color: #e4a436;
}

.title {
  font-size: 2rem;
}

i {
  font-size: 1.3rem;
}

nav {
  background-color: #345231;
  padding-bottom: 1rem;
}

.desktopMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav li {
  padding-left: 2.25rem;
  padding-top: 1.25rem;
}

nav a:hover {
  color: #e4a436;
}

.navIcon,
.mobileMenu,
nav input {
  display: none;
}

.mobileMenu li {
  padding: 1rem 0;
}

.navIcon i {
  font-size: 2rem;
  z-index: 10;
}

.copyright {
  color: #f6f6f6;
  background-color: #1f1f1f;
  text-align: center;
  padding: 0.5rem 0 0.5rem 0;
}

.contactHeader {
  background-image: url(../assets/contact-image-1.jpg);
}

.contactHeader h1 {
  position: absolute;
  margin: 0;
  bottom: 0.75rem;
}

.contactMain {
  background: #f6f6f6;
}

.contactFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5rem;
  padding-bottom: 6rem;
}

.contactInfo {
  width: 30%;
}

.contactInfo ul {
  background: white;
  padding: 2.5rem 2rem;
}

.contactInfo i {
  color: #345231;
  margin-right: 2rem;
  font-size: 1.5rem;
}

.contactInfo li:nth-child(2) {
  font-weight: bold;
  padding: 1.2rem 0;
}

.contactForm {
  margin-left: 2rem;
  width: calc(70% - 2rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contactForm > * {
  padding-bottom: 1rem;
}

.contactText textarea,
.contactSubmit input {
  width: 100%;
  height: 100%;
}

.contactSubmit {
  padding-bottom: 0;
}

input, textarea {
  border: none;
  padding: 1.5rem;
  color: #1f1f1f;
  font-family: 'Montserrat', sans-serif;
}

input[type=submit] {
  background-color: #e4a436;
  font-family: 'Abril Fatface', sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 1rem;
}

.formFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.formFlex input {
  width: 49%;
}

.articleFlex form,
.contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blogHeader {
  background-image: url(../assets/blog-image-1.jpg);
}

.blogHeader h1 {
  position: absolute;
  margin: 0;
  bottom: 0.5rem;
}

.blogMain {
  padding-top: 5rem;
  background-color: #f6f6f6;
}

.blogFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

aside,
.blogFlex section,
article {
  background-color: #FFFFFF;
}

aside {
  padding: 2rem;
  margin-bottom: 1rem;
}

aside ul {
  list-style: disc inside;
}

aside img {
  width: 100%;
}

.asideFlex {
  width: calc(30% - 1rem);
}

.articleFlex {
  width: calc(70% - 1rem);
}

article {
  border-bottom: solid #709b6b 0.25rem;
  margin-bottom: 2rem;
  padding: 2rem;
}

article p {
  margin-bottom: 1rem;
}

.articleFlex section:not(:last-child) {
  margin-bottom: 1rem;
}

.articleFlex section:last-child {
  border-bottom: solid #709b6b 0.25rem;
  margin-bottom: 1.5rem;
}

.comments p {
  padding: 0;
}

.comments section {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comments img {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-right: 1rem;
}

.articleFlex form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 5rem;
}

.articleFlex input,
.articleFlex textarea {
  margin-bottom: 1rem;
}

.homeHeader {
  height: 38.5rem;
  background-color: #345231;
}

.homeFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3rem;
}

.homeFlex h1 {
  padding-right: 1.25rem;
  position: relative;
}

.homeFlex h1::before {
  background: url(../assets/circle-text.png) no-repeat;
  content: '';
  display: block;
  position: absolute;
  top: -4rem;
  left: -3rem;
  height: 25rem;
  width: 25rem;
  max-width: 100%;
}

header img {
  -webkit-box-shadow: 1rem 1rem #f6f6f6;
          box-shadow: 1rem 1rem #f6f6f6;
}

section p {
  padding-bottom: 1.8rem;
}

.homeWho {
  padding: 6rem 0 8.5rem 0;
  text-align: center;
  background-color: #f6f6f6;
}

.homeMain section:nth-child(2),
.homeMain section:nth-child(3) {
  background-color: #FFFFFF;
}

.homeFavourites {
  padding-bottom: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.favouriteImg {
  position: relative;
}

.favouriteImg img {
  -webkit-box-shadow: 1rem 1rem #709b6b, -20vw 1rem #709b6b;
          box-shadow: 1rem 1rem #709b6b, -20vw 1rem #709b6b;
  position: absolute;
  display: block;
  top: -3rem;
  width: 100%;
}

.favouriteImg {
  width: 50%;
}

.favouriteFlex {
  width: calc(50% - 5rem);
  padding-top: 6.5rem;
  margin-left: 5rem;
  max-width: 50rem;
}

.homeBucket {
  margin-top: 8rem;
  padding-bottom: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bucketImg,
.bucketFlex {
  width: 50%;
}

.bucketFlex {
  padding-right: 5rem;
  padding-bottom: 7rem;
  max-width: 50rem;
  text-align: end;
}

.bucketImg {
  position: relative;
}

.bucketImg img {
  -webkit-box-shadow: 1rem 1rem #345231, 20vw 1rem #345231;
          box-shadow: 1rem 1rem #345231, 20vw 1rem #345231;
  display: block;
  position: absolute;
  bottom: -3rem;
  width: 100%;
}

.homeJourney {
  padding: 8.5rem 0 8.5rem 0;
  background-color: #f6f6f6;
}

.journeyFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.journeyText {
  padding-left: 5rem;
}

.homeJourney img {
  -webkit-box-shadow: 1rem 1rem #709b6b;
          box-shadow: 1rem 1rem #709b6b;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.homeImage {
  width: 100%;
  height: 25rem;
  background: url(../assets/home-image-5.jpg) no-repeat;
  background-size: cover;
}

.gallery {
  padding: 5rem 0 5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery img {
  width: calc(33% - 1rem);
}

footer {
  background-color: #f6f6f6;
}

.homeInfo {
  padding: 5rem 0 5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.infoSubFlex {
  width: calc(50% - 4rem);
  margin-left: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.circleIcon {
  background: #e4a436;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  padding: 1rem;
}

.infoSubFlex i {
  position: absolute;
  top: -0.5rem;
  left: -3rem;
}

.infoText {
  margin-left: 1rem;
}

@media (max-width: 1345px) {
  .homeFlex h1 {
    font-size: 6rem;
  }
}

@media (max-width: 1226px) {
  .blogHeader h1 {
    font-size: 6rem;
    bottom: 0rem;
  }
}

@media (max-width: 1166px) {
  .homeFlex h1 {
    font-size: 4rem;
  }
  .homeFlex h1::before {
    top: -3rem;
    left: -3rem;
  }
}

@media (max-width: 1149px) {
  .contactHeader h1 {
    font-size: 6rem;
    bottom: 0rem;
  }
}

@media (max-width: 1024px) {
  .blogFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .asideFlex,
  .articleFlex {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .homeFlex h1 {
    font-size: 3rem;
  }
}

@media (max-width: 900px) {
  .homeFlex img {
    display: none;
  }
  .homeHeader .wrapper {
    height: 100%;
  }
  .homeFlex {
    padding: 0;
    height: 100%;
  }
  .homeFlex h1 {
    font-size: 6rem;
    text-align: center;
  }
  .contactFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactInfo,
  .contactForm {
    width: 100%;
  }
  .contactInfo {
    margin-bottom: 1rem;
  }
  .contactForm {
    margin: 0;
  }
}

@media (max-width: 863px) {
  .contactHeader h1 {
    font-size: 4rem;
    bottom: -0.75rem;
  }
}

@media (max-width: 786px) {
  .favouriteFlex {
    margin-left: 2.5rem;
    width: 50%;
  }
  .bucketFlex {
    padding-right: 2.5rem;
    width: 50%;
  }
  .journeyText {
    padding-left: 2.5rem;
    width: 50%;
  }
  .homeInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .infoSubFlex {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 672px) {
  .homeFlex h1 {
    font-size: 4rem;
  }
}

@media (max-width: 668px) {
  .journeyText {
    padding-left: 1.5rem;
  }
  .journeyFlex img {
    width: 40%;
  }
}

@media (max-width: 640px) {
  .favouriteImg,
  .bucketImg,
  .homeJourney img {
    display: none;
  }
  .favouriteFlex,
  .bucketFlex,
  .journeyText {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gallery img {
    width: 100%;
  }
  .gallery img:not(:last-child) {
    margin-bottom: 1rem;
  }
  .infoSubFlex h3 {
    text-align: center;
  }
  .infoSubFlex i {
    left: -1.5rem;
  }
}

@media (max-width: 563px) {
  nav {
    padding-bottom: 3rem;
  }
  .desktopMenu {
    display: none;
  }
  .mobileMenu {
    display: inline-block;
    position: fixed;
    z-index: 10;
    width: 50%;
    right: -50%;
    top: 0;
    background: #00000095;
    text-align: center;
    height: 15rem;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .mobileMenu a {
    display: inline-block;
  }
  .navIcon {
    display: block;
    width: 100%;
    text-align: end;
    padding-top: 1.25rem;
  }
  .navIcon i {
    position: fixed;
    -webkit-text-stroke: 0.05rem #1f1f1f;
  }
  input[type=checkbox]:checked + .mobileMenu {
    right: 5rem;
  }
  .homeFlex {
    padding: 2rem;
  }
}

@media (max-width: 560px) {
  .formFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .formFlex input {
    width: 100%;
  }
  .formFlex input[type=text] {
    margin-bottom: 1rem;
  }
  .comments section p:first-child {
    padding-bottom: 1rem;
  }
}

@media (max-width: 509px) {
  .blogHeader h1 {
    font-size: 3rem;
    bottom: -1.1rem;
  }
}

@media (max-width: 509px) and (max-width: 500px) {
  .homeFlex h1 {
    font-size: 2.5rem;
  }
  .homeFlex h1::before {
    top: -2rem;
    left: -1.5rem;
  }
}

@media (max-width: 509px) and (max-width: 423px) {
  .contactHeader h1 {
    font-size: 3rem;
    bottom: -1.1rem;
  }
}

@media (max-width: 509px) and (max-width: 368px) {
  .homeHeader {
    height: 29rem;
  }
  .navIcon {
    padding-right: 1rem;
  }
}

@media (max-width: 509px) and (max-width: 350px) {
  article h3 {
    font-size: 1.2rem;
  }
  .comments img {
    display: none;
  }
}

.wrapper {
  margin: 0 auto;
  width: 80%;
}

header {
  max-width: 100%;
}

.blogHeader,
.contactHeader {
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.about h1 {
  color: #1f1f1f;
  line-height: 8rem;
}
